<footer>
  <div class="foot-div">
    <div class="foot-logo">
      <div class="logo">
        <h1>Students Platform</h1>
      </div>
    </div>
    <div class="foot-list">
      <h3>Services</h3>
      <ul>
        <li><a href="#work">How it work</a></li>
        <li><a href="#donation">Donate</a></li>
        <li><a href="#mission">Mission</a></li>
      </ul>
    </div>

    <div class="foot-list">
      <h3>About</h3>
      <ul>
        <li><a href="#">Partnership</a></li>
        <li><a href="#">Privacy Policy</a></li>
        <li><a href="#">Terms of Service</a></li>
      </ul>
    </div>

    <div class="foot-list">
      <h3>Support</h3>
      <ul>
        <li><a href="#">Help & Support</a></li>
        <li><a href="#">Trust & Safety</a></li>
        <li><a href="#">Community</a></li>
      </ul>
    </div>

    <div class="foot-list">
      <h3>Stay Connected</h3>
      <p>Join us with <b>+50,000</b> Students and Enrich you Knowledge</p>
      <form action="" method="">
        <input
          type="email"
          name="email"
          id="email"
          placeholder="    Your Email"
          required
        />
        <button type="submit" name="submit" id="submit" class="btn btn-light">
          Subscribe
        </button>
      </form>
    </div>
    <p class="" style="text-align: center">
      Copyright &copy; 2023 - Students Platform All Rights Reserved
    </p>
  </div>
</footer>
