.example-card {
  max-width: 100%;
}

.example-header-image {
  background-size: cover;
}

img {
  max-width: 80%;
  max-height: 80%;
  margin: auto;
  padding-top: 5%;
  padding-bottom: 3%;
}

a {
  text-decoration: none;
  color: white;
}

mat-card > * {
  color: black;
}

.card {
  background-color: #e6e6e5;
}
