<mat-toolbar class="app-toolbar" color="yellow">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="onShowMenu()"
  >
    <mat-icon color="primary">menu</mat-icon>
  </button>
  <span> Students Platform</span>
  <span class="example-spacer"></span>
  <button routerLink="" mat-raised-button color="primary">Home</button>
  <button routerLink="/list-courses" mat-raised-button color="primary">
    Courses
  </button>
  <button routerLink="/leaderboard" mat-raised-button color="primary">
    Leaderboard
  </button>
  <button routherLink="" mat-raised-button color="primary">Hi, User!</button>
</mat-toolbar>
<app-side-nav></app-side-nav>
