<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GIVEHOPE</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto&display=swap"
      rel="stylesheet"
    />

    <script
      src="https://kit.fontawesome.com/e70c1b9bfc.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <nav class="banner">
      <div class="container">
        <div class="heading">
          <p>Connecting Students, Enhancing Education.</p>
          <button
            type="donation"
            name="donation"
            href="#donation"
            class="btn"
            routerLink="/list-courses"
          >
            Click Here to Start
          </button>
        </div>
        <div class="video-play"></div>
      </div>
    </nav>
    <section id="about" class="content">
      <div class="container">
        <div class="content-box">
          <div class="box-1">
            <div>
              <p>Courses to choose from</p>
              <h2>{{ courses.length }}</h2>
              <p>Students: {{ students.length }}</p>
              <p style="padding: 12px 0px 31px">Events: {{ events.length }}</p>
              <a routerLink="/list-courses">View COURSES</a>
            </div>
          </div>
          <div class="box-2">
            <div>
              <p class="head">Who Are We?</p>
              <p class="text-2">
                We are a team of passionate students who have experienced the
                ups and downs of navigating university education. We come from
                diverse academic backgrounds, each with our own unique set of
                skills and expertise. Our shared vision is to create a
                supportive community where students can find study partners,
                share knowledge, and enhance their learning experience.
              </p>
              <p class="text-2" style="margin-bottom: 9%; font-size: 15px">
                A small river named Duden flows by their place and supplies it
                with the necessary regelialia.
              </p>
              <a href="#">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <hr class="line" />

    <section id="mission" class="content mission">
      <div class="container">
        <div class="content-box">
          <div class="card-1">
            <div class="icon">
              <i class="fa-solid fa-lightbulb"></i>
            </div>
            <div>
              <h3>Course Collaboration</h3>
              <p>
                Find students who are enrolled in the same courses as you.
                Create or enter in already exiting study sessions and improve
                your learning.
              </p>
              <a>Learn More</a>
            </div>
          </div>
          <div class="card-1">
            <div class="icon">
              <i class="fa-solid fa-hand-holding-dollar"></i>
            </div>
            <div>
              <h3>Material Exchange</h3>
              <p>
                Find notes and materials students have previously used during
                their studies for each course and upload you own to help others.
              </p>

              <a>Learn More</a>
            </div>
          </div>
          <div class="card-1">
            <div class="icon">
              <i class="fa-solid fa-users-viewfinder"></i>
            </div>
            <div>
              <h3>Video Conference</h3>
              <p>
                A Video Confrenece is also available as a tool for better
                knowledge sharing and better study sessions.
              </p>

              <a>Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="line" />
    <section id="work" class="content">
      <div class="container">
        <div class="content-box">
          <div class="card-2">
            <div class="work-text">
              <h3>STEP 01</h3>
              <h1>Why We Created This Website:</h1>
              <P class="text-2">
                Having encountered the difficulties of studying alone and
                feeling the need for a platform that connects students with
                similar courses, we decided to build this website.<br /><br />We
                believe that by connecting students who share the same courses,
                we can create a vibrant community of learners who support and
                uplift each other. We understand the importance of collaboration
                and recognize that studying together can be more effective,
                motivating, and enjoyable.
              </P>
            </div>
          </div>
          <div class="card-3">
            <div>
              <img
                src="../../assets/images/bg2.jpg"
                alt="donate"
                title="donate"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="line" />
    <section id="donation" class="content mission">
      <div class="container">
        <div class="content-box">
          <div style="margin: auto; line-height: 45px">
            <h1 class="donat-1-h1">A Few Of The Courses</h1>
            <p class="donat-1-p">
              Here is an example of the courses that are available on our site.
            </p>
            <a>View All Courses</a>
          </div>
          <div class="item">
            <div class="donat-1">
              <img src="../../assets/images/course1.jpg" alt="profile" />
              <h2>Structured Programming</h2>
              <p class="time">Course About C</p>
              <p class="price">Programming Language</p>
              <br />
              <a href="#">Explore the Course</a>
            </div>
            <div class="donat-1">
              <img src="../../assets/images/course2.jpg" alt="profile" />
              <h2>Object oriented programming</h2>
              <p class="time">Course About C++</p>
              <p class="price">Programming Language</p>
              <br />
              <a href="#">Explore the Course</a>
            </div>
            <div class="donat-1">
              <img src="../../assets/images/course2.jpg" alt="profile" />
              <h2>Web programmming</h2>
              <p class="time">Course about SpringBoot</p>
              <p class="price">Web Framework</p>
              <br />
              <a href="#">Explore the Course</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <hr class="line" />

    <section id="contact" class="content">
      <div class="container">
        <div class="content-box">
          <div class="card-3">
            <div class="work-text">
              <img src="../../assets/images/team.jpg" alt="team" />
            </div>
          </div>
          <div class="card-2">
            <div class="form">
              <form>
                <label class="contact">Contact Form</label>
                <input
                  type="text"
                  name="name"
                  id="name"
                  placeholder="Enter Your Name"
                />
                <input
                  type="email"
                  name="email"
                  id="email"
                  placeholder="Enter Your Email"
                />
                <textarea
                  id="msg"
                  name="msg"
                  cols="20"
                  roews="10"
                  placeholder="Enter Your Query Here"
                ></textarea>
                <button type="submit" name="submit" id="submit" class="btn">
                  Submit
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
    <app-footer></app-footer>
  </body>
</html>
